button.botão {
  font-family: Arial, Helvetica, sans-serif;
  
  font-weight: bolder;
    font-size: 14px;
    color: black;
    padding: 8px 20px;
}
html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font: 25px arial;
  color: black;
}

.img {
  height: 300px;
  width: 300px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.img div {
  padding: 40px;
  border: 1px solid black;
}


.botao {
  height: 10%;
  min-height: 10%;
}

.botao div {
  padding: 40px;
  border: 1px solid black;

}

#mensagem{
    color: black;
    font-weight: bolder;
    font-size: 14px;
}
